.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svgContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 5px dashed var(--color-main2);
}

.svg {
    width: 500px;
    height: auto;
    object-fit: contain;
}

.downloadButton {
    margin-top: 64px;
}

@media screen and (max-width: 600px) {
    .svg {
        margin: 8px;
        width: 100%;
        object-fit: contain;
    }

    .downloadButton {
        margin-top: 32px;
    }
}

